<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    />
    <script src="https://kit.fontawesome.com/6f043b447d.js" crossorigin="anonymous"></script>
    <title>Document</title>
  </head>
  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-head">Git Hub Login</div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title">Login</h3>
            <div class="box">
              <a href="/github/login">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>GitHUB</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
